---
import "@/styles/globals.css";
import { CandidatsVote } from "../components/candidats/candidats-vote";
import { CandidatsVote1 } from "../components/candidats/candidats-vote1";
import { CandidatsVote2 } from "../components/candidats/candidats-vote2";
import { CandidatsVote3 } from "../components/candidats/candidats-vote3";
import { CandidatsVote4 } from "../components/candidats/candidats-vote4";
import { CandidatsVote5 } from "../components/candidats/candidats-vote5";
import { CandidatsVote6 } from "../components/candidats/candidats-vote6";
import { CandidatsVote7 } from "../components/candidats/candidats-vote7";
import { CandidatsVote8 } from "../components/candidats/candidats-vote8";
import { CandidatsVote9 } from "../components/candidats/candidats-vote9";
import { CandidatsVote10 } from "../components/candidats/candidats-vote10";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <CandidatsVote client:load/>
    <CandidatsVote1 client:load/>
    <CandidatsVote2 client:load/>
    <CandidatsVote3 client:load/>
    <CandidatsVote4 client:load/>
    <CandidatsVote5 client:load/>
    <CandidatsVote6 client:load/>
    <CandidatsVote7 client:load/>
    <CandidatsVote8 client:load/>
    <CandidatsVote9 client:load/>
    <CandidatsVote10 client:load/>
  </body>
</html>
../components/candidats/candidats-vote../components/candidats/candidats-vote1../components/candidats/candidats-vote2../components/candidats/candidats-vote3../components/candidats/candidats-vote4../components/candidats/candidats-vote5../components/candidats/candidats-vote6../components/candidats/candidats-vote7../components/candidats/candidats-vote8../components/candidats/candidats-vote9../components/candidats/candidats-vote10