.map__image {
    width: 70%;
    height: 60%;
    margin-left: 30px;
}

.map__image path {
    fill: #a4ced2;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
    border: 1px solid red;
}

.map__image path:hover {
    fill: #088792;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 0.3s;
}

@media only screen and (max-width: 600px) {
    .map__image {
        margin-left: 60px;
    }
}

.them_df{
    fill: #088792;
    stroke: #FFF;
    stroke-width: 1px;
}

 .them_bdf{
    fill: #FFF !important;
    background-color: red !important;
    stroke: #FFF;
    stroke-width: 1px;
}